[submodule "server/scripts/shared"]
	path = server/scripts/shared
	url = git@github.com:defold/aws-build-tools.git

[submodule "server/scripts/task-definitions"]
	path = server/scripts/task-definitions
	url = git@github.com:defold/extender-task-definitions.git
