**/build
**/classes
/client/.buildcache
/tmp
/debugsdk
/defoldsdk
/localserver
/platformsdk
*.class
!server/test-data/sdk/
server/test-data/sdk/*
!server/test-data/sdk/a

# C++
/**/*.o
/**/*.pdb

# IntelliJ IDEA
.idea/*
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/vcs.xml
.idea/workspace.xml
.idea/assetWizardSettings.xml
.idea/dictionaries/
.idea/shelf/
.idea/libraries/
.idea/httpRequests/
/*.iml
/*.ipr
/*.iws
/server/out

# Eclipse
/.classpath
/.project
/.settings

# Gradle
**/.gradle

# Mac
.DS_Store
.bash_history

Version.java
/server/app/*
server/bin/*
server/manifestmergetool/app/*
server/manifestmergetool/bin/*

/server/docker/victoria-metrics-data/*
/server/docker/grafana-data/*

/server/envs/user.env
