server:
    port: 9000
    jetty:
        connection-idle-timeout: 600000

extender:
    sdk:
        location: /var/extender/sdk
        # Slightly bigger than production in order to not remove version controlled SDK
        cache-size: 10
        mappings-cache-size: 20
        cache-clear-on-exit: true
        sdk-urls: >
            http://d.defold.com/archive/stable/%s/engine/defoldsdk.zip,
            http://d.defold.com/archive/%s/engine/defoldsdk.zip
        mappings-urls: >
            http://d.defold.com/archive/stable/%s/engine/platform.sdks.json,
            http://d.defold.com/archive/%s/engine/platform.sdks.json
        max-verification-retry-count: 3
        enable-sdk-verification: true
    server:
        http:
            idle-timeout: 600000
    cache:
        enabled: false
        file-size-threshold: 65536
    remote-builder:
        enabled: false
        build-sleep-timeout: 5000
        build-result-wait-timeout: 1200000
    gradle:
        enabled: false
        location: /tmp/.gradle
    cocoapods:
        enabled: false
        cdn-concurrency: 10 # value for COCOAPODS_CDN_MAX_CONCURRENCY
        home-dir-prefix: /tmp/.cocoapods
        repo-update-cron: "0 0 * * * *" # update spec repo every 1 h
        cache-dir-rotate-cron: "0 10 2 * * *" # once per day
        old-cache-clean-cron: "0 10 6 * * *" # once per day after directory rotation
    # refer to README_SECURITY.md for information on securing your server
    authentication:
        # empty string, all platforms allowed without authentication
        platforms: ''
        # no user definitions are needed since we require no authentication for any platform
        users: ''
        # check for user updates every 15 minutes
        update-interval: 900000
    job-result:
        location: /tmp/results
        cleanup-period: 20000
        lifetime: 1200000
    # see ExtenderController.InstanceType enum
    # FRONTEND_ONLY, BUILDER_ONLY, MIXED
    instance-type: MIXED

spring:
    application:
        name: extender
    servlet:
        multipart:
            enabled: true
            max-file-size: 1024MB
            max-request-size: 1024MB
    # Don't check for templates on startup
    mustache:
        check-template-location: false
    threads:
        virtual:
            enabled: false

# All management endpoints except simple health status are disabled for security reasons
endpoints:
    enabled: false
    health:
        enabled: true
        sensitive: false

# Increase thread name size, to make the job name more visible
logging.pattern.console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.23t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n"

management:
    health:
        diskspace:
            path: /
            threshold: 1073741824 #1024mb

spring.cloud.gcp:
    core.enabled: false
    storage.enabled: false
    logging.enabled: false