
server:
    port: 9000

    jetty:
        connection-idle-timeout: 600000

extender:
    sdk:
        location: /var/extender/sdk
        # Slightly bigger than production in order to not remove version controlled SDK
        cache-size: 10
        cache-clear-on-exit: true
    server:
        http:
            idle-timeout: 600000
    cache:
        enabled: false
        file-size-threshold: 65536
    remote-builder:
        enabled: false
        platforms: ios, osx
        build-sleep-timeout: 5000
        build-result-wait-timeout: 240000
    gradle:
        location: /tmp/.gradle
        # megabytes
        cache-size: 2048
    # refer to README_SECURITY.md for information on securing your server
    authentication:
        # empty string, all platforms allowed without authentication
        platforms: ''
        # no user definitions are needed since we require no authentication for any platform
        users: ''
        # check for user updates every 15 minutes
        update-interval: 900000
    job-result:
        location: /tmp/results
        cleanup-period: 20000
        lifetime: 1200000

spring:
    servlet:
        multipart:
            enabled: true
            max-file-size: 1024MB
            max-request-size: 1024MB
    # Don't check for templates on startup
    mustache:
        check-template-location: false

# All management endpoints except simple health status are disabled for security reasons
endpoints:
    enabled: false
    health:
        enabled: true
        sensitive: false

# Suppress info-logging from metrics reporting client
logging.level.okhttp3.OkHttpClient: WARN
# Increase thread name size, to make the job name more visible
logging.pattern.console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.23t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n"

management:
    health:
        diskspace:
            path: /
            threshold: 1073741824 #1024mb

    endpoint:
        influx:
            enabled: false

    metrics:
        export:
            influx:
                enabled: false
