
server:
    port: 9000

extender:
    sdk-location: /var/extender/sdk
    # Slightly bigger than production in order to not remove version controlled SDK
    sdk-cache-size: 10
    build-location: /var/extender/builds
    server:
        http:
            idle-timeout: 600000
    data-store:
        url: "http://localhost:9017"
        file-size-threshold: 110000

spring:
    http:
        multipart:
            enabled: false
            max-file-size: 500mb
            max-request-size: 500mb
    # Don't check for templates on startup
    mustache:
        check-template-location: false

# All management endpoints except simple health status are disabled for security reasons
endpoints:
    enabled: false
    health:
        enabled: true
        sensitive: false

# Suppress info-logging from metrics reporting client
logging.level.okhttp3.OkHttpClient: WARN

management:
    health:
        diskspace:
            path: /
            threshold: 524288000 #500mb

---

spring:
    profiles: stage

extender:
    sdk-cache-size: 5

endpoints:
    health:
        sensitive: true

---

spring:
    profiles: production

extender:
    sdk-cache-size: 5

endpoints:
    health:
        sensitive: true
