
server:
    port: 9000

extender:
    sdk-location: /var/extender/sdk
    # Slightly bigger than production in order to not remove version controlled SDK
    sdk-cache-size: 10
    build-location: /var/extender/builds
    server:
        http:
            idle-timeout: 600000
    cache:
        enabled: true
        type: LOCAL
        file-size-threshold: 65536
        local:
            basedir: /var/extender/cache/data
        s3:
            bucket: defold-extender-cache-dev
    remote-builder:
        enabled: true
        # This points to the host machine from inside docker
        url: http://host.docker.internal:9010
        platforms: ios, osx

spring:
    http:
        multipart:
            enabled: false
            max-file-size: 500mb
            max-request-size: 500mb
    # Don't check for templates on startup
    mustache:
        check-template-location: false

# All management endpoints except simple health status are disabled for security reasons
endpoints:
    enabled: false
    health:
        enabled: true
        sensitive: false

# Suppress info-logging from metrics reporting client
logging.level.okhttp3.OkHttpClient: WARN

management:
    health:
        diskspace:
            path: /
            threshold: 524288000 #500mb

---

spring:
    profiles: dev-s3

extender:
    cache:
        type: S3

---

spring:
    profiles: dev-remote-builder

extender:
    remote-builder:
        enabled: true

---

spring:
    profiles: stage

extender:
    sdk-cache-size: 5
    cache:
        type: S3
        s3:
            bucket: defold-extender-cache-stage
    remote-builder:
        enabled: true
        url: https://build-darwin-stage.defold.com

endpoints:
    health:
        sensitive: true

---

spring:
    profiles: production

extender:
    sdk-cache-size: 5
    cache:
        type: S3
        s3:
            bucket: defold-extender-cache-prod
    remote-builder:
        enabled: true
        url: https://build-darwin.defold.com

endpoints:
    health:
        sensitive: true

---

spring:
    profiles: standalone-dev

server:
    port: 9010

extender:
    sdk-location: ./extender/sdk
    build-location: ./extender/builds
    cache:
        enabled: false
        local:
            basedir: ./extender/cache/data
    remote-builder:
        enabled: false

