name: Docker Image CI

on: [push, pull_request]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Free disk space
      run: |
        df -h
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker image ls -aq)
        df -h

    - name: Build the extender-client.jar
      run: (cd client && ../gradlew build)

    - name: Test the extender-client.jar
      run: (cd client && ../gradlew test)

    - name: Build the Docker image
      run: ./server/scripts/build.sh -xtest
      env:
            DM_PACKAGES_URL:  ${{ secrets.S3_URL }}

    - name: Test the Docker image
      run: ./gradlew test --debug
      env:
            DM_PACKAGES_URL:  ${{ secrets.S3_URL }}

    - name: Notify if tests failed
      uses: homoluctus/slatify@master
      if: failure()
      with:
        type: ${{ job.status }}
        job_name: 'Extender tests'
        channel: '#defold-alarms-build'
        url: ${{ secrets.SLACK_WEBHOOK }}
